@charset "UTF-8";

.clearfix:after{ 
	display: block; 
	clear: both; 
	height: 0; 
	font-size: 0;
	visibility: hidden;
	content: ".";
}

body{
	top: 0;
	right: 0;
	margin: 0;
	padding: 0 0 0 260px;
	z-index: 0;
	font-family: "liberation_sans","Open Sans","ヒラギノ角ゴ ProN W6","Hiragino Kaku Gothic ProN",Meiryo,メイリオ,sans-serif;
//background: rgb(0, 0, 0);
//background: -moz-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
//background: -webkit-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
//background: -o-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
//background: -ms-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
//background: linear-gradient(112deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
}

/*トップページ*/
.top_slider > ul{
	position: relative;
}

.top_slider li{
	list-style: none;
	position: absolute;
	top: 0;
	left: 260px;
	opacity: 0.8;
}

.top_img{
	position: absolute;
	left: 0;
	opacity: 0.7;
	z-index: 0;
}

.bars{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	background: #000;
	color: #fff;
	font-size: 2em;
	text-align: center;
	z-index: 1;
}

/*ヘッダー*/
.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 260px;
	height: 800px;
	background: #323232;
	color: #fff;
	//font-family: "liberation_sans","Open Sans","ヒラギノ角ゴ ProN W6","Hiragino Kaku Gothic ProN",Meiryo,メイリオ,sans-serif;

}

.header h1{
	//display: none;
	//background-image: url(./img/logo.jpg);
	text-align: center;
}

.navigation li{
	list-style: none;
	padding: 20px 10px;
	text-align: right;
}

.navigation li a{
	color: #ccc;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
}

.top{
	width: 100%;
	height: 250px;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
	background: -webkit-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
	background: -o-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
	background: -ms-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
	background: linear-gradient(112deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
}

.top_inside > h3{
	color: #fff;
	margin: 0;
	font-size: 3em;
	line-height: 250px;
	text-align: center;
	letter-spacing: 1em;
	}
	
	
/*製品一覧*/
.products >h3{
	text-align: center;
}

.p_down{
	font-size: 2em;
}


.fa-angle-double-down{
	width: 100%;
	color: white;
	//font-size: 5em;
	text-align: center;
}

.products > ul{
	padding: 0;
	margin: 0;
}

.nav > li{
	list-style: none;
	float: left;
	width: calc(20% - 10px);
	height: 50px;
	margin: 0 5px;
	border-radius: 10px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.nav li:not(:nth-child(4)){
	line-height: 50px;
}

.nav > li a{
	color: #fff;
	text-decoration: none;
}

/*左下ナビゲーション*/
.side_nav{
	position: fixed;
	left: 100px;
	bottom: 20px;
	//padding: 10px 10px;
	border-radius: 10px;
	font-weight: bold;
}

.side_nav > ul{
	padding: 0 20px;
	margin: 0;
}

.side_nav li{
	padding: 10px 0;
	list-style: none;
	cursor: pointer;
}

.side_nav li a{
	padding: 10px 0;
	color: #fff;
	text-decoration: none;
}
/*左下ナビゲーション 終わり*/

/*トップへ戻るボタン*/
.go_top{
	position: fixed;
	right: 10px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border: 3px solid;
	border-radius: 10px;
	background: #fff;
	//opacity: 0.2;
}

.go_top i{
	width: 50px;
	//color: #000;
	font-size: 3em;
	text-align: center;
}
/*トップへ戻るボタン 終わり*/

.product{
	margin: 0 1.5%;
}

.product > h3{
	margin: 10px 0 0 0;
	border: 2px solid;
	border-radius: 10px;
	//border-left: 5px solid;
	font-size: 2em;
	//text-align: center;
}

.prod{
	border-bottom: 1px solid;
}

.title{
	border-bottom: 1px dotted;
}

.title > h3:first-child{
	//color:red;
	float: left;
	margin-bottom: 0;
}

.title > h3:first-child:before{
	content:"●";
}

.title > h3:last-child{
	//color:blue;
	float: right;
	margin-bottom: 0;
}

.base_color{
	background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(128,0,0,1)), color-stop(51%, rgba(128,49,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* w3c */	color: #fff;
}

.prodphoto{
	float: left;
	width: 50%;
	margin: 10px 0 0 0;
}

.prodphoto td {
	width: 30%;
	margin: 0 1%;
	border: 1px solid;
	border-radius: 10px;
	background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(128,0,0,1)), color-stop(51%, rgba(128,49,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(128,49,0,1) 49%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%); /* w3c */	text-align: center;
}

.prodphoto td a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.prodtext{
	float: left;
	width: calc(50% - 1.5%);
	margin: 10px 0 0 1.5%;
}

.prodtext > p:first-child{
	border-bottom: 1px solid;
}

.prodtext > p:last-of-type{
	margin: 0;
}

.prodtext td{
	margin: 0 1%;
	text-align: center;
}

.design{
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	border-radius: 10px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
}

.color_w{
	color: #fff;
}

.green{
	background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(125,198,37,1) 51%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(125,198,37,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(125,198,37,1) 51%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(125,198,37,1) 51%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(125,198,37,1) 51%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(125,198,37,1) 51%, rgba(255,255,255,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}

.red{
	background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,19,39,1) 51%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(255,19,39,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,19,39,1) 51%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,19,39,1) 51%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,19,39,1) 51%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,19,39,1) 51%, rgba(255,255,255,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}

.orange{
	background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(240,159,12,1) 51%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(240,159,12,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(240,159,12,1) 51%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(240,159,12,1) 51%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(240,159,12,1) 51%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(240,159,12,1) 51%, rgba(255,255,255,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}

.white{
	background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(227,226,230,1) 51%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(227,226,230,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(227,226,230,1) 51%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(227,226,230,1) 51%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(227,226,230,1) 51%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(227,226,230,1) 51%, rgba(255,255,255,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}

.black{
	background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(3,3,3,1) 51%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(3,3,3,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(3,3,3,1) 51%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(3,3,3,1) 51%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(3,3,3,1) 51%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(3,3,3,1) 51%, rgba(255,255,255,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}

/*共通*/
.article{
	width: 70%;
	margin: 0 auto;
}

.article > h3:before{
	content: "●";
}

.article table{
	width: 100%;
	border: 1px solid;
}

.article th{
	width: 30%;
	padding: 10px 1%;
	border-right: 1px solid;	
}

.article tr:not(:last-child) th{
	border-bottom: 1px dotted;
}

.article td{
	width:70%;
	padding: 10px 1%;	
}

.article tr:not(:last-child) td{
	border-bottom: 1px dotted #000;
}

	
/*使い方*/
.movie{
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000; 
}

.first{
	float: left;
	margin: 1% 1%;
}

/*イベントスケジュール*/
.eventtitle{
	font-size: 2em;
}

.article .date{
	width: 20%;
	//border-right: 1px solid;
	color: red;
	text-align: center;
}

.article .place{
	width: 15%;
	//border-right: 1px solid;
	text-align: center;
}

.article .event{
	width: 65%;
	//border-bottom: 1px dotted #000;
	//text-align: center;
}

/*写真館*/
.pics{
	margin: 0 auto;
	width: 90%;
}

.pic{
	float: left;
	margin: 10px 1%;
	//width: 200px;
	//height: 100px;
	//font-size: cover;
}

/*会社概要*/

/*お問い合わせ*/
/*.article table{
	border: 1px solid;
}*/

.submit{
	text-align: center;
}

/*フッター*/
.footer{
	text-align: center;
}

.footer > ul{
	padding: 0;
	margin: 30px 0 0 0; 
}

.footer li{
	display: inline-block;
	list-style: none;
	padding: 0 1%;
}

.footer li:not(:last-child){
	border-right: 1px solid;
}

.footer p{
	margin: 0;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
	background: -webkit-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
	background: -o-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
	background: -ms-linear-gradient(22deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
	background: linear-gradient(112deg, rgb(0, 0, 0) 18%, rgb(219, 0, 0) 100%);
	color: #fff;
}

/*------breakPoint700px------*/
@media screen and (max-width:700px){
body{
	padding: 0;
}

/*ヘッダー*/
.header{
	padding: 0 5px 0 0;
	width: 150px;
}	
	
.navigation li{
	padding: 10px 0 0 0;
}

.top{
	height: 80px;
}

.top_inside > h3{
	padding: 0 0 0 60px;
	font-size: 20px;
	line-height: 100px;
	letter-spacing: none;
}
/*共通*/
.top{
	background: #1a0000;
}

.article{
	width: 95%;
}

/*製品一覧*/
.nav > li{
	float: none;
	width: 80%;
	margin: 0 auto;
}

.title > h3{
	//font-size: normal;
}

.base_color{
	background: #1a0000;
}

.prodphoto{
	float: none;
	width: 100%;
}
.prodphoto td{
	background: #1a0000;
}

.prodtext{
	float: none;
	width: 100%;
}

/*使い方*/
.first{
	float: none;
}


}//end @media






